*~
*.pyc
*_ui.py
*.bak

dastard-commander.config
dastard-commander.creator
dastard-commander.creator.*
dastard-commander.files
dastard-commander.includes
noise_ana_autocorr_input_simpulses
noise_analysis_autocorr_input
