*~
*.pyc
*_ui.py
*.bak

dastardcommander.config
dastardcommander.creator
dastardcommander.creator.*
dastardcommander.files
dastardcommander.includes
noise_ana_autocorr_input_simpulses
noise_analysis_autocorr_input
XDG_CACHE_HOME

*egg-info*
SubscribeTester/zmq_sub_client
